<footer>
        @Corpyright 2018
      <a href="#"><img src="../static/face.png" alt="Facebook"></a>
      <a href="#"><img src="../static/youtube.png" alt="Youtube"></a>
      <a href="#"><img src="../static/insta.png" alt="Instagram"></a>
      <a href="#"><img src="../static/twitter.png" alt="twitter"></a>
    </footer>