<header>

    <div>
        <img src="../static/logo.jpg" alt="Logo">
        <h1> Acesso Cultural </h1>
    </div>

    <nav class="botoes">
        <a href="/">Home</a>
        <a href="/quemsomos">Quem Somos</a>
        <a href="/faleconosco">Fale Conosco</a>
    </nav>


</header>