<header>

    <div>
        <img src="" alt="">
        <h1> Acesso Cultural </h1>
    </div>

    <nav class="botoes">
        <a href="/">Home</a>
        <a href="/cultural">Cultural</a>
        <a href="/faleconosco">Fale Conosco</a>
    </nav>


</header>