<!DOCTYPE html>
<html lang="pt-br">
    <%- include('shared/head') %>
<body>
    <%- include('shared/header') %>
    
 
    <section>

            <h2>Conheça os Melhores Eventos de São Paulo</h2>
            <div class="fotos" >
                <% for(let fotos of fotos)

            </div>
            

    </section>
</body>
</html>