<!DOCTYPE html>
<html lang="pt-br">
    <%- include('shared/head') %>
<body>
    <%- include('shared/header') %>
    
    <section>
    <p>
        O Ministério da Cultura apoia projetos culturais por meio da Lei Federal de Incentivo à Cultura (Lei nº 8.313/91), a Lei Rouanet, a Lei do Audiovisual (Lei nº 8.685/93) e também por editais para projetos específicos, lançados periodicamente. Obtenha nesta página informações sobre os mecanismos de apoio, conheça os editais e participe!
    </p>

    <p>
        Editais de Museus
        06.07.2018
         
        Edital 1 - Modernização de Museus
        
        Objeto: seleção de 28 (vinte) iniciativas voltadas à preservação do patrimônio museológico, implementadas por instituições museológicas ou mantenedores de museus constituídos como pessoas jurídicas de direito público estadual e municipal e pessoas jurídicas de direito privado sem fins lucrativos, com finalidade cultural, excetuando-se àquelas vinculadas à estrutura do Ministério da Cultura - MinC.
        Período de inscrição: 9/7 a 6/9 
        Recursos: premiação de R$ 100.000,00 (cem mil reais) para 28 (vinte e oito) instituições cujas iniciativas voltadas à preservação do patrimônio museológico, sejam selecionadas nos termos do Edital.
        Contato para dúvidas sobre o edital: fomento@museus.gov.br
        Onde se inscrever: www.museus.gov.br
        Saiba mais
        
         
    </p>

    <footer>
        @Corpyright 2018
    </footer>
    
</section>
</body>
</html>