<!DOCTYPE html>
<html lang="pt-br">
    <%- include('shared/head') %>
<body>
    <%- include('shared/header') %>
    
    <section class="historia">
    <h3>Nossa história</h3>
    <p>
       Através do Projeto do Facebook com a Martech, foi criada a Estação Hack. Iniciamos nossa jornada e através de pensarmos sobre um problema que enfrentamos, decidimos criar o Acesso Cultural.
       
    </p>
    <img class="estacao" src="../static/estacao.jpg" alt="">

    <h3>Missão e Valores</h3>
    <p>
    Missão de levar a cultura a todos, através desse site que busca englobar todos os eventos em um único lugar. Buscaremos os melhores eventos e melhores parcerias para levar o que há de melhor em sua cidade.
   
    </p>


</section>
    
    <%- include('shared/footer') %>
    
</body>
</html>