<!DOCTYPE html>
<html lang="pt-br">
    <%- include('shared/head') %>
<body>
    <%- include('shared/header') %>
    
    <section class="historia">
    <h3>Nossa história</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia voluptate minus numquam mollitia ullam ipsam quod soluta veniam illo praesentium optio, dolor corrupti omnis dolorum itaque, iure aspernatur facere excepturi.
    </p>

    <h3>Missão e Valores</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error saepe, iste optio cum, eligendi vitae, fugit dignissimos cumque eum quasi porro quia rerum mollitia accusamus. Obcaecati quas voluptatibus ipsa tempora.
    </p>


</section>
    
    <%- include('shared/footer') %>
    
</body>
</html>