body{
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}


header {   
    overflow: auto;
    
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(19, 131, 223);
    height: 40px;

}

nav a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}

h1{
    color: blue;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

header img{
    width: 100px;
    

}


section p{    
    font-size: 25px;
    background-color: lightslategray;
    padding: 10px 40px;
    border-radius: 40px;
    
}


.eventos .fotos{
    display: flex;   
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.eventos .fotos div{
    width: 30%;
    
}

.eventos .fotos div img{
    width: 100%;
    border-radius: 30px;
}

footer{
    background-color: rgb(19, 131, 223);
    height: 110px;
    
}
